body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
nav {
    width: 100%;
    background-color: #b7dada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(25, 19, 19, 0.1);
}
.nav-logo .logo{
    width: 90px;
    height: auto;
    margin: 5px;
}
.navbar {
    flex: 1;
    display: flex;
    justify-content: center;  
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li {
    margin:0 10px;
    padding: 10px 10px;
    font-size: 1.2em;
}
.navbar ul li a {
    color: rgb(28, 25, 25);
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    /* color: rgb(227, 225, 225); */
    text-decoration: underline;
}
